.b2_bulletCont > span.WebWorks_Number
{
  text-indent: -50.400000000000006pt;
}

.b2_bulletCont > span.WebWorks_Number > *
{
  text-indent: 0;
}

.b3_bulletCont > span.WebWorks_Number
{
  text-indent: -28.799999999999997pt;
}

.b3_bulletCont > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Bulleted > span.WebWorks_Number
{
  text-indent: -18pt;
}

.Bulleted > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Bulleted2 > span.WebWorks_Number
{
  text-indent: -18pt;
}

.Bulleted2 > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Bulleted3 > span.WebWorks_Number
{
  text-indent: -14.399999999999991pt;
}

.Bulleted3 > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Definition > span.WebWorks_Number
{
  text-indent: -144pt;
}

.Definition > span.WebWorks_Number > *
{
  text-indent: 0;
}

.FigureTitle > span.WebWorks_Number
{
  text-indent: -63pt;
}

.FigureTitle > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Footnote > span.WebWorks_Number
{
  text-indent: -12.00024pt;
}

.Footnote > span.WebWorks_Number > *
{
  text-indent: 0;
}

.H5 > span.WebWorks_Number
{
  text-indent: -76.536pt;
}

.H5 > span.WebWorks_Number > *
{
  text-indent: 0;
}

.L1Bul > span.WebWorks_Number
{
  text-indent: -18pt;
}

.L1Bul > span.WebWorks_Number > *
{
  text-indent: 0;
}

.L1Num > span.WebWorks_Number
{
  text-indent: -18pt;
}

.L1Num > span.WebWorks_Number > *
{
  text-indent: 0;
}

.L2Bul > span.WebWorks_Number
{
  text-indent: -18pt;
}

.L2Bul > span.WebWorks_Number > *
{
  text-indent: 0;
}

.L2Num > span.WebWorks_Number
{
  text-indent: -18pt;
}

.L2Num > span.WebWorks_Number > *
{
  text-indent: 0;
}

.L3Bul > span.WebWorks_Number
{
  text-indent: -18pt;
}

.L3Bul > span.WebWorks_Number > *
{
  text-indent: 0;
}

.L3Num > span.WebWorks_Number
{
  text-indent: -18pt;
}

.L3Num > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Note2 > span.WebWorks_Number
{
  text-indent: -36.00000000000001pt;
}

.Note2 > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Note3 > span.WebWorks_Number
{
  text-indent: -36pt;
}

.Note3 > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Numbered > span.WebWorks_Number
{
  text-indent: -18pt;
}

.Numbered > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Numbered1 > span.WebWorks_Number
{
  text-indent: -18pt;
}

.Numbered1 > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Numbered1_substep > span.WebWorks_Number
{
  text-indent: -18pt;
}

.Numbered1_substep > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Numbered_substep > span.WebWorks_Number
{
  text-indent: -18pt;
}

.Numbered_substep > span.WebWorks_Number > *
{
  text-indent: 0;
}

.table_bullet > span.WebWorks_Number
{
  text-indent: -13.68pt;
}

.table_bullet > span.WebWorks_Number > *
{
  text-indent: 0;
}

.table_numbered > span.WebWorks_Number
{
  text-indent: -13.68pt;
}

.table_numbered > span.WebWorks_Number > *
{
  text-indent: 0;
}

.table_numbered1 > span.WebWorks_Number
{
  text-indent: -13.68pt;
}

.table_numbered1 > span.WebWorks_Number > *
{
  text-indent: 0;
}

.TableBullet > span.WebWorks_Number
{
  text-indent: -14.4pt;
}

.TableBullet > span.WebWorks_Number > *
{
  text-indent: 0;
}

.TableBullet2 > span.WebWorks_Number
{
  text-indent: -9.000000000000001pt;
}

.TableBullet2 > span.WebWorks_Number > *
{
  text-indent: 0;
}

.TableFootnote > span.WebWorks_Number
{
  text-indent: -12.600000000000001pt;
}

.TableFootnote > span.WebWorks_Number > *
{
  text-indent: 0;
}

.TableNum > span.WebWorks_Number
{
  text-indent: -11.88pt;
}

.TableNum > span.WebWorks_Number > *
{
  text-indent: 0;
}

.TableTitle > span.WebWorks_Number
{
  text-indent: -66.528pt;
}

.TableTitle > span.WebWorks_Number > *
{
  text-indent: 0;
}

